extends layout

block content
  header#menu
  div.container-fluid
    article#content

  div.container-fluid.hidden-xs
    h5.bottom-of-page
      small The data from &nbsp;
        a(href="http://tatoeba.org/eng/terms_of_use") tatoeba.org
        &nbsp;
        is being used on this website under the Creative Commons - Attribution 2.0 France license.


