extends layout

block content
  form.pure-form
    fieldset
      input#keyword(type="text")
      button#search-button.pure-button.pure-button-primary(type="button") Search

  h1#sentence_eng
  p#sentence_rus
  button#ctrl-button.pure-button(type="button") Play

  table#play-list.pure-table
    tbody
