extends layout

block content
  div.player
    div#play-list-panel
      button#random-btn(type="button") Random
      button#search-btn(type="button") Search
      span#keyword-panel
        input#keyword(type="text", placeholder="enter the keyword", onkeypress="return onKeyPress(event)", onclick="this.select()")
      table#play-list-table
        tbody

    div#ctrl-panel
      button#play-list-btn(type="button")
      button#play-ctrl-btn.play-button(type="button")
    div#sentence-panel
      h1#sentence-eng
      p#sentence-rus

  p.license-info The data from &nbsp;
    a(href="http://tatoeba.org/eng/terms_of_use") tatoeba.org
    &nbsp; is being used on this website under the Creative Commons - Attribution 2.0 France license.


