extends layout

block content
  form.pure-form
    fieldset
      input#keyword(type="text")
      button#search-button.pure-button.pure-button-primary(type="button") Search

  p#sentence
  button#ctrl-button.pure-button(type="button") Play
