extends layout

block content
  div.player
    div#play-list-panel
      button#search-btn(type="button") Search
      span#keyword-panel
        input#keyword(type="text", placeholder="enter the keyword", onkeypress="return onKeyPress(event)")
      table#play-list-table
        tbody

    div#ctrl-panel
      button#play-ctrl-btn.play-button(type="button")
      button#play-list-btn(type="button")
    div#sentence-panel
      h1#sentence-eng
      p#sentence-rus

